<!DOCTYPE html>
<html lang="zxx">



<head>
    <title>Rentaly - Multipurpose Vehicle Car Rental Website Template</title>
    <link rel="icon" href="/images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="~/css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="~/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="~/css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body onload="initialize()" class="dark-scheme">
    <div id="wrapper">

        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->
        <!-- header begin -->
        <header class="transparent has-topbar">

            <div class="container">


                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a asp-controller="Home" asp-action="Index">
                                            <img class="logo-1" src="/images/logo-light.png" alt="">
                                            <img class="logo-2" src="/images/logo-light.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li>
                                        <a asp-controller="Home" asp-action="Index" class="menu-item">Ana Səhifə</a>
                                    </li>
                                    <li>
                                        <a asp-controller="GlobalCar" asp-action="Index" class="menu-item">Maşınlar</a>
                                    </li>
                                    <li> <a class="menu-item" asp-controller="GlobalBooking" asp-action="Index">Rezervasiya</a></li>
                                    <li>
                                        <a asp-controller="GlobalAboutUs" asp-action="Index">Haqqımızda</a>
                                    </li>
                                    <li><a asp-controller="GlobalContact" asp-action="Create" class="menu-item">Əlaqə</a></li>

                                    <li><a asp-controller="GlobalNew" asp-action="Index" class="menu-item">Yeniliklər</a></li>

                                    <li>
                                        <a class="menu-item" href="account-dashboard.html">Hesabım</a>
                                        <ul>
                                            <li><a class="menu-item" href="account-dashboard.html">Dashboard</a></li>
                                            <li><a class="menu-item" href="account-profile.html">My Profile</a></li>
                                            <li><a class="menu-item" href="account-booking.html">My Orders</a></li>
                                            <li><a class="menu-item" href="account-favorite.html">My Favorite Cars</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div class="de-flex-col">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="menu_side_area">
                                        <a asp-controller="Account" asp-action="Logout" class="btn-main">Çıxış Et</a>
                                        <span id="menu-btn"></span>
                                    </div>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li style="list-style:none; margin-left:10px;" class="nav-item">
                                            <a class="btn-main" asp-action="Index" asp-controller="Home" asp-area="Dashboard">Dashboard</a>
                                        </li>
                                    }

                                }
                                else{
                                    <div class="menu_side_area">
                                        <a asp-controller="Account" asp-action="Login" class="btn-main">Giriş Et</a>
                                        <span id="menu-btn"></span>
                                     
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        @RenderBody()

        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>About Rentaly</h5>
                            <p>Where quality meets affordability. We understand the importance of a smooth and enjoyable journey without the burden of excessive costs. That's why we have meticulously crafted our offerings to provide you with top-notch vehicles at minimum expense.</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Contact Info</h5>
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>08 W 36th St, New York, NY 10001</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">contact@example.com</a></span>
                                <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <h5>Quick Links</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Partners</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget">
                            <h5>Social Network</h5>
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    <a href="index.html">
                                        Copyright 2024 - İbrahim İbrahimli / dev.ibrahimlii@gmail.com
                                    </a>
                                </div>
                                <ul class="menu-simple">
                                    <li><a href="https://github.com/ibrahimibrahimli">GitHub</a></li>
                                    <li><a href="https://www.linkedin.com/in/ibrahimlii/">Linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/designesia.js"></script>
    <script src="~/booking-form.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgiM7ogCAA2Y5pgSk2KXZfxF5S_1jsptA&amp;libraries=places&amp;callback=initPlaces" async="" defer=""></script>
    @RenderSection("Scripts", false)
</body>


<!-- Mirrored from www.madebydesignesia.com/themes/rentaly/02_dark-index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 May 2024 10:03:06 GMT -->
</html>