<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom fonts for this template-->
    <!-- Custom fonts for this template-->
    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="~/admin/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Rentally</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - CarCategories -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="CarCategory">
                    <svg width="25px" fill="#ffffff" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M393.236 279.846c-6.051-12-15.966-21.915-27.965-27.966-77.229-38.955-152.35 36.165-113.386 113.4 6.049 11.997 15.962 21.907 27.965 27.951 77.227 38.964 152.348-36.153 113.386-113.386zM258.917 434.764c-20.89-10.519-38.026-27.651-48.559-48.539-59.17-117.288 58.575-235.031 175.857-175.872 20.885 10.531 38.016 27.661 48.548 48.546 59.169 117.289-58.58 235.03-175.846 175.864zm512.341-30.749c6.428 0 11.636-5.208 11.636-11.636V252.743c0-6.428-5.208-11.636-11.636-11.636H631.622c-6.428 0-11.636 5.208-11.636 11.636v139.636c0 6.428 5.208 11.636 11.636 11.636h139.636zm0 46.545H631.622c-32.135 0-58.182-26.047-58.182-58.182V252.742c0-32.135 26.047-58.182 58.182-58.182h139.636c32.135 0 58.182 26.047 58.182 58.182v139.636c0 32.135-26.047 58.182-58.182 58.182zm51.303 328.49c9.216 9.228 9.166 24.141-.112 33.307s-24.27 9.117-33.487-.112L600.799 623.829c-9.216-9.228-9.166-24.141.112-33.307s24.27-9.117 33.487.112L822.561 779.05z"></path><path d="M789.29 590.559c9.228-9.216 24.141-9.166 33.307.112s9.117 24.27-.112 33.487L634.069 812.321c-9.228 9.216-24.141 9.166-33.307-.112s-9.117-24.27.112-33.487L789.29 590.559zM446.871 794.517c10.952 21.724-3.673 45.163-28.15 45.163H226.398c-24.476 0-39.101-23.44-28.149-45.164l97.435-193.257c11.816-23.439 41.934-23.439 53.751 0l97.436 193.258zM322.56 654.576l-69.283 137.418h138.566L322.56 654.576z"></path><path d="M881.116 976.372c52.61 0 95.256-42.646 95.256-95.256V142.883c0-52.603-42.65-95.256-95.256-95.256H142.883c-52.606 0-95.256 42.653-95.256 95.256v738.233c0 52.61 42.646 95.256 95.256 95.256h738.233zm0 47.628H142.883C63.969 1024-.001 960.031-.001 881.116V142.883C-.001 63.977 63.972-.001 142.883-.001h738.233C960.027-.001 1024 63.977 1024 142.883v738.233C1024 960.03 960.031 1024 881.116 1024z"></path></g></svg>
                    <span>Avtomobil Kateqoriyaları</span>
                </a>
            </li>

            <!-- Nav Item - Cars -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Car">
                    <svg width="25px" height="25px" fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 190.712 190.712" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M188.976,125.657c-2.051-7.098-11.162-8.747-17.617-6.611c-12.936-18.814-32.144-29.435-55.065-26.681 c-17.817,2.141-39.328,6.837-43.877,26.364c-5.205-3.202-11.924-0.594-14.211,5c-2.437,5.961,2.26,11.216,7.874,11.619 c-4.373,5.353-5.146,14.076-5.931,20.5c-1.042,8.539-0.444,16.651,4.811,23.635c6.9,9.173,18.805,9.213,20.406-2.34 c11.133,2.867,22.498,3.064,33.988,4.031c10.654,0.896,21.446,2.137,31.874-0.57c-0.488,10.666,12.69,9.912,20.115,5.074 c14.322-9.332,10.99-32.972,6.524-47.394C184.697,138.667,191.027,132.754,188.976,125.657z M113.125,97.748 c23.627-3.912,37.217,7.238,52.688,22.206c-30.492,8.498-59.157,7.383-88.845-3.677C85.389,103.967,98.074,100.24,113.125,97.748z M183.41,132.483c-2.286,1.33-5.044,1.232-7.559,1.638c-0.541,0.087-0.912,0.384-1.148,0.769c-1.088,0.223-2.001,1.158-1.574,2.541 c3.823,12.393,4.551,25.526,0.849,38.031c-1.227,4.143-5.936,7.209-9.654,8.768c-5.598,2.349-8.592-0.266-10.063-5.166 c0.612-1.375-0.511-3.327-2.479-2.989c-20.875,3.579-45.158,0.812-66.316-2.032c-0.39-1.357-2.348-1.596-3.07-0.373 c-1.373-0.017-1.975,1.715-0.789,2.37c-1.541,4.771-3.803,8.429-9.499,4.878c-3.913-2.439-6.455-7.162-7.623-11.461 c-1.746-6.428,0.064-14.509,1.445-20.79c1.015-4.62,3.272-9.175,3.286-13.922c0.284-0.468,0.166-1.112-0.243-1.517 c-0.042-0.039-0.082-0.069-0.13-0.096c-0.103-0.074-0.173-0.185-0.303-0.222c-4.021-1.144-8.171-2.888-6.916-7.844 c0.474-1.868,1.821-3.286,3.517-4.117c2.435-1.192,4.812,0.112,7.128,0.802c0.119,0.035,0.234,0.034,0.351,0.034 c0.455,0.257,1.033,0.218,1.341-0.399c0.501-1.002,1.024-1.955,1.567-2.871c28.566,14.828,62.441,15.936,92.602,5.138 c0.604-0.216,0.995-0.611,1.219-1.069c0.224,0.01,0.447,0.041,0.667-0.01c4.734,0.303,10.872-0.762,14.562,2.794 c1.014,0.976,1.563,2.608,1.665,3.968C186.366,131.024,184.594,131.793,183.41,132.483z"></path> <path d="M92.833,145.11c-0.545-3.445-4.354-7.422-8.025-6.463c-4.656-1.502-8.688,2.273-9.091,7.08 c-0.461,5.5,4.091,10.066,9.631,9.397C90.243,154.533,93.6,149.955,92.833,145.11z M85.193,150.496 c-2.879,0.746-4.626-1.821-4.656-4.343c-0.027-2.278,1.562-3.643,3.46-4.383c2.34,0.5,4.413,0.379,4.583,3.527 C88.706,147.647,87.532,149.889,85.193,150.496z"></path> <path d="M158.874,141.821c-0.032-0.027-0.039-0.074-0.077-0.098c-4.456-2.58-9.229,0.131-11.021,4.584 c-2.111,5.246,1.109,9.969,6.384,11.14c5.132,1.14,10.185-1.929,11.09-7.207C165.917,146.344,162.868,141.803,158.874,141.821z M160.879,149.25c-0.288,2.812-2.887,4.375-5.532,3.888c-6.178-1.141-3.651-8.004,0.745-9.519c0.059,0.251,0.188,0.483,0.498,0.625 C159.169,145.436,161.215,145.959,160.879,149.25z"></path> <path d="M127.216,68.8c-2.957-1.774-6.76-1.876-10.219-1.321c-3.864-49.641-83.401-42.894-99.246-4.022 c-2.797-2.121-7.146-2.963-10.223-1.669c-3.343,1.407-5.198,4.678-5.702,8.164C1.303,73.578,1.952,77.16,4.266,80.05 c1.369,1.71,3.319,2.468,5.302,2.431c-6.282,13.821-14.425,31.212-5.877,45.25c3.799,6.24,12.847,9.4,19.792,7.597 c11.266-2.925,13.831-15.04,26.31-14.546c1.876,0.074,1.922-2.43,0.411-3.036c-4.025-1.619-12.035-3.901-15.622,0.201 c-2.279,2.604-2.824,5.745-4.981,8.536c-5.092,6.588-15.468,4.63-20.85-0.047c-11.509-10,1.374-34.53,5.569-45.567 c0.713-1.876-2.252-3.19-3.245-1.609c-3.716-0.543-5.015-4.392-4.669-8.313c0.16-1.817,1.038-3.764,2.624-4.735 c2.745-1.681,5.638,1.047,8.217,1.549c0.811,0.158,1.716-0.293,2.161-0.972c0.179-0.112,0.344-0.256,0.472-0.456 c0.425-0.661,0.888-1.295,1.339-1.937c28.557,8.969,61.823,10.181,91.136,5.031c0.393,1.349,1.717,1.848,2.876,1.63 c4.77-0.632,13.442-0.323,12.139,6.655c-0.45,2.41-2.738,3.126-4.893,3.103c-2.743-0.029-4.445-1.994-6.911-2.557 c-1.285-0.293-2.589,0.837-2.189,2.189c1.068,3.615,6.369,4.891,9.663,4.798c3.795-0.108,6.914-2.299,8.191-5.852 C132.669,75.389,130.726,70.905,127.216,68.8z M22.309,62.874c22.635-29.992,74.332-36.875,88.744,2.534 C80.755,69.424,52.396,65.027,22.309,62.874z"></path> <path d="M35.346,85.364c-1.555-1.972-4.139-3.148-6.626-3.134c-2.222,0.013-4.987,1.341-6.05,3.408 c-3.061,2.25-4.413,6.413-3.353,10.439c1.787,6.789,10.043,7.398,14.995,3.697C39.083,96.209,38.778,89.715,35.346,85.364z M31.588,96.194c-2.762,1.927-6.808,1.742-7.801-1.825c-0.556-1.996,0.002-4.133,1.078-5.955c1.384-0.573,2.391-1.856,3.946-2.223 c1.379-0.325,2.566,0.749,3.386,1.688C34.279,90.258,34.263,94.329,31.588,96.194z"></path> <path d="M187.18,35.873c-3.7-2.667-8.422-1.955-12.503-0.563C168.41-5.358,93.032-10.149,77.7,26.216 c-0.802,1.903,2.341,3.157,3.295,1.389c17.719-32.79,76.265-25.078,89.756,7.67c-19.938,6.814-38.964,6.741-59.465,3.116 c-0.587-0.104-1.027,0.333-0.922,0.922c1.273,7.051,18.041,6.014,22.949,6.09c13.261,0.206,27.625,0.41,38.999-7.281 c0.251,0.828,1.02,1.469,2.163,1.173c4.349-1.125,12.918-1.709,11.562,5.259c-0.427,2.197-1.768,4.203-3.61,5.463 c-1.048,0.716-2.275,1.136-3.53,1.296c-1.601,0.204-3.205-0.313-4.646,0.625c-0.228,0.148-0.413,0.349-0.564,0.571 c-0.354,0.315-0.539,0.802-0.347,1.424c3.15,10.177,5.493,19.758,5.115,30.534c-0.094,2.673-2.468,21.692-9.633,15.363 c-3.338-2.948-4.45-7.814-5.563-11.909c-0.143-0.523-0.486-0.858-0.896-1.05c-1.346-6.146-14.443-8.643-19.46-8.282 c-2.611,0.188-3.025,3.567-0.604,4.462c5.097,1.883,13.222,0.607,17.768,4.412c-0.162,0.255-0.277,0.55-0.259,0.925 c0.425,8.677,9.599,25.007,18.577,13.853c8.741-10.861,6.625-33.062-0.09-45.794c2.409-0.105,5.023-1.127,6.609-2.192 c3.176-2.133,5.28-5.707,5.725-9.488C191.025,41.393,190.022,37.922,187.18,35.873z"></path> <path d="M168.323,62.33c-0.739-2.153-2.294-4.051-4.437-4.9c-1.67-0.661-4.602-0.802-5.893,0.703 c-0.787,0.047-1.548,0.299-2.363,0.912c-1.711,1.286-2.308,3.479-2.571,5.502c-0.62,4.75,3.338,8.773,8.012,8.514 C166.484,72.761,170.082,67.453,168.323,62.33z M160.649,68.008c-3.642,0.366-4.014-5.737-1.816-7.61 c1.122,0.175,2.188-0.375,3.318,0.248c1.048,0.578,1.455,1.83,1.667,2.925C164.277,65.95,163.043,67.768,160.649,68.008z"></path> </g> </g></svg>
                    <span>Avtomobillər</span>
                </a>
            </li>

            <!-- Nav Item - About -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="About">
                    <svg fill="#ffffff" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502 502" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M428.483,73.516C381.076,26.108,318.045,0,251,0C183.956,0,120.924,26.108,73.516,73.516S0,183.956,0,251 s26.108,130.076,73.516,177.484C120.924,475.892,183.956,502,251,502c67.045,0,130.076-26.108,177.483-73.516 C475.892,381.076,502,318.044,502,251S475.892,120.924,428.483,73.516z M251,482C123.626,482,20,378.374,20,251 S123.626,20,251,20s231,103.626,231,231S378.374,482,251,482z"></path> <path d="M251,41.36c-71.131,0-129,57.869-129,129c0,19.299,15.701,35,35,35s35-15.701,35-35c0-32.533,26.467-59,59-59 c32.532,0,59,26.467,59,59c0,32.809-26.468,59.5-59,59.5c-19.299,0-35,15.701-35,35v68.781c0,19.299,15.701,35,35,35 s35-15.702,35-34.999v-38.638c25.275-7.181,48.08-22.162,64.871-42.763C369.655,229.195,380,200.116,380,170.36 C380,99.229,322.131,41.36,251,41.36z M273.893,277.422c-4.605,0.992-7.893,5.064-7.893,9.775v46.443c0,8.271-6.729,15-15,15 s-15-6.729-15-15v-68.781c0-8.271,6.729-15,15-15c43.561,0,79-35.664,79-79.5c0-43.561-35.439-79-79-79c-43.561,0-79,35.44-79,79 c0,8.271-6.729,15-15,15s-15-6.729-15-15c0-60.103,48.897-109,109-109c60.103,0,109,48.897,109,109 C360,221.641,323.787,266.667,273.893,277.422z"></path> <path d="M251,386.641c-19.299,0-35,15.701-35,35v4c0,19.299,15.701,35,35,35s35-15.702,35-35v-4 C286,402.342,270.299,386.641,251,386.641z M266,425.641c0,8.271-6.729,15-15,15s-15-6.729-15-15v-4c0-8.271,6.729-15,15-15 s15,6.729,15,15V425.641z"></path> <path d="M59.077,290.972C56.372,277.911,55,264.462,55,251c0-5.523-4.477-10-10-10s-10,4.477-10,10 c0,14.822,1.512,29.636,4.492,44.028c0.979,4.724,5.14,7.974,9.782,7.974c0.672,0,1.355-0.068,2.039-0.21 C56.721,301.672,60.197,296.38,59.077,290.972z"></path> <path d="M172.982,430.859c-43.999-19.113-79.407-53.593-99.701-97.088c-2.335-5.005-8.287-7.169-13.29-4.834 c-5.005,2.335-7.169,8.285-4.834,13.29c22.36,47.925,61.375,85.916,109.856,106.976c1.297,0.564,2.649,0.831,3.979,0.831 c3.862,0,7.54-2.25,9.178-6.019C180.37,438.949,178.047,433.059,172.982,430.859z"></path> </g> </g> </g> </g></svg>
                    <span>Haqqımızda</span>
                </a>
            </li>

            <!-- Nav Item - Booking -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Booking">
                    <svg width="25px" viewBox="-4.57 0 359.906 359.906" xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>
                                    .a {
                                        fill: #ffffff;
                                    }

                                    .b {
                                        fill: #211715;
                                    }

                                    .c {
                                        fill: #d9d9d9;
                                    }

                                    .d {
                                        fill: #3d8dcc;
                                    }</style>
                            </defs><path class="a" d="M191.649,213.868a61.1,61.1,0,0,0,4.9-6.794,21.29,21.29,0,0,0,3.45-7.938,14.006,14.006,0,0,0-5.324-12.786,14.82,14.82,0,0,0-15.831-1.578c-3.8,1.887-6.841,5-9.557,8.258a39.934,39.934,0,0,0-6.135,9.4,19.543,19.543,0,0,0-1.63,10.981,12.176,12.176,0,0,0,13.941,10.609,19.751,19.751,0,0,0,7.7-2.748A33.577,33.577,0,0,0,191.649,213.868Z"></path><path class="b" d="M193.346,215.565a49.262,49.262,0,0,0,7.887-12.177,15.686,15.686,0,0,0-.086-12.443,17.238,17.238,0,0,0-21.774-9.01,28.1,28.1,0,0,0-10.443,7.838,45.574,45.574,0,0,0-7.676,11.046,21.941,21.941,0,0,0-1.86,14.145,15.177,15.177,0,0,0,7.082,9.723c9.711,5.384,20.613-1.774,26.87-9.122a2.463,2.463,0,0,0,0-3.394,2.42,2.42,0,0,0-3.394,0c-4.31,5.062-11.15,10.9-18.365,9.334a9.65,9.65,0,0,1-6.913-5.782,14.915,14.915,0,0,1-.017-10.553,31.183,31.183,0,0,1,5.638-9.6,35.165,35.165,0,0,1,7.634-7.5,13.169,13.169,0,0,1,9.6-2.324,12.485,12.485,0,0,1,8.093,5.035,11.268,11.268,0,0,1,1.414,10.234,27,27,0,0,1-2.937,5.435,56.783,56.783,0,0,1-4.148,5.721,2.466,2.466,0,0,0,0,3.394A2.42,2.42,0,0,0,193.346,215.565Z"></path><path class="a" d="M191.649,140.905a61.1,61.1,0,0,0,4.9-6.794,21.29,21.29,0,0,0,3.45-7.938,14,14,0,0,0-5.324-12.786,14.82,14.82,0,0,0-15.831-1.578c-3.8,1.887-6.841,5-9.557,8.258a39.934,39.934,0,0,0-6.135,9.395,19.541,19.541,0,0,0-1.63,10.981,12.178,12.178,0,0,0,13.941,10.609,19.751,19.751,0,0,0,7.7-2.748A33.6,33.6,0,0,0,191.649,140.905Z"></path><path class="a" d="M191.649,180.907a61.09,61.09,0,0,0,4.9-6.793,21.294,21.294,0,0,0,3.45-7.939,14.006,14.006,0,0,0-5.324-12.786,14.822,14.822,0,0,0-15.831-1.577c-3.8,1.887-6.841,5-9.557,8.258a39.913,39.913,0,0,0-6.135,9.4,19.538,19.538,0,0,0-1.63,10.98,12.176,12.176,0,0,0,13.941,10.609,19.751,19.751,0,0,0,7.7-2.748A33.557,33.557,0,0,0,191.649,180.907Z"></path><path class="a" d="M170.391,65.461a60.753,60.753,0,0,0-4.9,6.794,21.29,21.29,0,0,0-3.45,7.938,14,14,0,0,0,5.324,12.786A14.82,14.82,0,0,0,183.2,94.556c3.8-1.887,11.492-9.023,14.208-12.28a76.815,76.815,0,0,0,7.222-11.028,18.709,18.709,0,0,0,1.534-11.487,11.955,11.955,0,0,0-5.891-8.6,12.971,12.971,0,0,0-7.954-1.5,19.741,19.741,0,0,0-7.7,2.748C181.361,54.331,172.837,62.561,170.391,65.461Z"></path><path class="a" d="M14.648,280.32c-7.321-15.095-3.332-33.6-4.1-50.821C9.436,204.61,7.658,181.943,3.1,144.388c-.911-7.508-1.516-15.023,2-21.717s11.364-9.251,18.666-7.283c6.6,1.778,10.556,5.887,13.066,12.244L158.49,256.551a288.751,288.751,0,0,1-54.054,41.837Z"></path><path class="b" d="M105.648,300.46a287.726,287.726,0,0,0,43.387-31.866q5.693-5.048,11.152-10.346c2.225-2.152-1.171-5.544-3.394-3.395a298.746,298.746,0,0,1-40.575,33.227q-6.379,4.3-12.993,8.235c-2.65,1.582-.239,5.733,2.423,4.145Z"></path><path class="b" d="M39.15,126.994c-2.371-5.9-6.183-10.632-12.188-13.063-5.815-2.354-12.85-2.187-18.195,1.3C2.538,119.3.233,126.764.018,133.883a76.657,76.657,0,0,0,.805,11.494q.726,6.015,1.417,12.034c1.532,13.39,2.906,26.8,3.967,40.236.909,11.515,1.825,23.108,2.026,34.661.253,14.577-2.469,29.874,2.228,44.024a44.712,44.712,0,0,0,2.115,5.2,2.42,2.42,0,0,0,3.283.861,2.451,2.451,0,0,0,.861-3.283c-6.03-12.619-3.995-27.417-3.71-40.915.24-11.4-.715-22.89-1.53-34.259C10.622,191.957,9.5,180,8.222,168.058q-1.191-11.1-2.54-22.189c-.835-6.925-1.988-14.614,1.092-21.18a13.452,13.452,0,0,1,14.939-7.312,16.565,16.565,0,0,1,7.833,3.569,18.952,18.952,0,0,1,4.976,7.324,2.475,2.475,0,0,0,2.952,1.677,2.417,2.417,0,0,0,1.676-2.953Z"></path><path class="b" d="M193.346,142.6a49.281,49.281,0,0,0,7.887-12.177,15.686,15.686,0,0,0-.086-12.443,17.239,17.239,0,0,0-21.774-9.011,28.1,28.1,0,0,0-10.443,7.839,45.574,45.574,0,0,0-7.676,11.046A21.941,21.941,0,0,0,159.394,142a15.177,15.177,0,0,0,7.082,9.722c9.711,5.385,20.613-1.773,26.87-9.121a2.464,2.464,0,0,0,0-3.4,2.421,2.421,0,0,0-3.394,0c-4.31,5.063-11.15,10.9-18.365,9.335a9.653,9.653,0,0,1-6.913-5.782,14.915,14.915,0,0,1-.017-10.553,31.171,31.171,0,0,1,5.638-9.6,35.142,35.142,0,0,1,7.634-7.5,13.175,13.175,0,0,1,9.6-2.325,12.491,12.491,0,0,1,8.093,5.036,11.268,11.268,0,0,1,1.414,10.234,27,27,0,0,1-2.937,5.435,56.657,56.657,0,0,1-4.148,5.72,2.467,2.467,0,0,0,0,3.4A2.421,2.421,0,0,0,193.346,142.6Z"></path><path class="b" d="M193.346,182.6a49.244,49.244,0,0,0,7.887-12.177,15.683,15.683,0,0,0-.086-12.442,17.237,17.237,0,0,0-21.774-9.011,28.112,28.112,0,0,0-10.443,7.838,45.593,45.593,0,0,0-7.676,11.046A21.943,21.943,0,0,0,159.394,182a15.177,15.177,0,0,0,7.082,9.722c9.711,5.384,20.613-1.773,26.87-9.122a2.463,2.463,0,0,0,0-3.394,2.421,2.421,0,0,0-3.394,0c-4.31,5.062-11.15,10.895-18.365,9.335a9.652,9.652,0,0,1-6.913-5.783,14.912,14.912,0,0,1-.017-10.552A31.187,31.187,0,0,1,170.3,162.6a35.137,35.137,0,0,1,7.634-7.494,13.175,13.175,0,0,1,9.6-2.325,12.489,12.489,0,0,1,8.093,5.035,11.269,11.269,0,0,1,1.414,10.234,26.977,26.977,0,0,1-2.937,5.435,56.783,56.783,0,0,1-4.148,5.721,2.466,2.466,0,0,0,0,3.394A2.419,2.419,0,0,0,193.346,182.6Z"></path><path class="b" d="M168.694,63.764a67.382,67.382,0,0,0-5.5,7.649,22.691,22.691,0,0,0-3.46,8.142,16.325,16.325,0,0,0,5.093,14.423,17.575,17.575,0,0,0,15.866,4.056c4.417-1.1,7.977-4.127,11.325-7.061a59.854,59.854,0,0,0,8.817-9.214A77.562,77.562,0,0,0,205.258,75,23.182,23.182,0,0,0,208.4,67.68c1.01-5.178.452-10.934-2.917-15.168-3.615-4.544-9.535-6.067-15.086-4.966-5.075,1.006-9.011,4.02-12.764,7.375a92.924,92.924,0,0,0-8.939,8.843,2.462,2.462,0,0,0,0,3.394,2.42,2.42,0,0,0,3.394,0,84.788,84.788,0,0,1,6.691-6.782c1.328-1.245,2.676-2.47,4.066-3.646a19.823,19.823,0,0,1,2.915-2.21c3.894-2.376,9.1-3.7,13.3-1.289,3.668,2.1,5,5.974,4.987,10.02a14.819,14.819,0,0,1-1.233,6.282,55.113,55.113,0,0,1-3.571,6.078,48.624,48.624,0,0,1-7.1,8.723,59.212,59.212,0,0,1-8.643,7.268,12.53,12.53,0,0,1-11.679,1.207,11.919,11.919,0,0,1-7.5-10.783c-.007-2.715,1.2-5.163,2.567-7.443a57.933,57.933,0,0,1,5.211-7.425,2.467,2.467,0,0,0,0-3.394A2.419,2.419,0,0,0,168.694,63.764Z"></path><rect class="c" x="32.777" y="2.406" width="151.139" height="267.253" rx="20.489"></rect><path class="b" d="M98.445,19.36q9.9,0,19.8-.01c3.088,0,3.093-4.8,0-4.8q-9.9,0-19.8.01c-3.088,0-3.093,4.8,0,4.8Z"></path><path class="a" d="M179.65,29.682l-146.434.01h-.435c0,32.929,0,175.737,0,211.389.286,0,.439,0,.439,0l150.552-.011h.146c0-35.668,0-178.478,0-211.384H179.65Z"></path><path class="b" d="M163.428,267.258H63.5c-3.34,0-6.681.01-10.021,0a18.287,18.287,0,0,1-18.306-18.089c-.01-1.353,0-2.706,0-4.059V24.609c0-.542,0-1.085,0-1.627A18.05,18.05,0,0,1,53.27,4.806c.732-.006,1.465,0,2.2,0H160.089c1.053,0,2.107,0,3.16,0A18.321,18.321,0,0,1,174.662,8.7c4.782,3.81,6.855,9.364,6.855,15.323V244.078c0,1.674.01,3.348,0,5.021a18.282,18.282,0,0,1-18.089,18.159c-3.087.028-3.095,4.828,0,4.8a23.158,23.158,0,0,0,22.889-22.9c.011-1.523,0-3.047,0-4.57V23.744a23.438,23.438,0,0,0-8.811-18.873A23.171,23.171,0,0,0,163.325.006c-.981-.006-1.963,0-2.944,0H55.228c-.9,0-1.81-.02-2.713.013a22.977,22.977,0,0,0-16.5,7.845c-4.023,4.689-5.636,10.358-5.636,16.424V245.6a50.915,50.915,0,0,0,.164,6.165A23.145,23.145,0,0,0,53.4,272.058c3.26.018,6.521,0,9.781,0H163.428C166.516,272.058,166.522,267.258,163.428,267.258Z"></path><path class="b" d="M33.216,243.477H49.024l35.485,0,42.589,0,37.116,0c6.353,0,12.715.1,19.068,0,.162,0,.324,0,.486,0,3.089,0,3.094-4.8,0-4.8H167.821l-35.557,0-42.593,0-37.052,0c-6.31,0-12.628-.1-18.937,0-.155,0-.31,0-.466,0-3.088,0-3.093,4.8,0,4.8Z"></path><path class="b" d="M33.216,32.092H49.024l35.485,0,42.589,0,37.116,0c6.353,0,12.715.1,19.068,0,.162,0,.324,0,.486,0,3.089,0,3.094-4.8,0-4.8H167.821l-35.557,0-42.593,0-37.052,0c-6.31,0-12.628-.1-18.937,0-.155,0-.31,0-.466,0-3.088,0-3.093,4.8,0,4.8Z"></path><path class="c" d="M108.479,87.056a49.415,49.415,0,0,0-29.618,9.557,48.231,48.231,0,0,0-16.989,24.179c-5.9,18.966-.2,41.745,15.723,54.121,15.825,12.3,39.881,13.515,57.139,3.428,17.433-10.191,24.893-31.244,21.945-50.662a48.232,48.232,0,0,0-13.138-26.355,47.749,47.749,0,0,0-26.752-13.61,56.39,56.39,0,0,0-8.31-.658c-3.089-.011-3.093,4.789,0,4.8a45.151,45.151,0,0,1,26.9,8.662A42.706,42.706,0,0,1,150.452,122c5.3,17.022.629,37.549-13.389,48.943-6.755,5.491-15.52,8.455-24.22,9.1-9.252.688-18.723-.827-26.9-5.34a40.773,40.773,0,0,1-17.226-18.564,48.433,48.433,0,0,1-3.76-27.471,44.014,44.014,0,0,1,11.818-23.892A43.476,43.476,0,0,1,101.25,92.374a47.778,47.778,0,0,1,7.229-.518C111.567,91.845,111.573,87.045,108.479,87.056Z"></path><path class="a" d="M278.822,357.5c-17.061-1.467-38.293-5.977-53.3-16.044-6.283-4.213-20.4-19.843-36.051-35.042-4.785-4.647-7.362-10.051-5.5-16.456a11.155,11.155,0,0,1,7.708-7.585,37.871,37.871,0,0,1,8.8-1.493l.589-.05c-12.732-16.757-32.018-42.17-45.027-59.072-4.7-6.111-8.375-18.768.073-25.271,8.2-6.31,16.544-1.526,22.63,5.226,9.67,10.727,30.8,36.472,40.793,47.423-.534-6.137,2.71-12.073,10.376-14.788,5.989-2.121,12.525-.283,15.256,5.03-1.695-5.508,1.358-12.314,7.915-15.365s14.593-2.339,18.014,3.3c-.626-5.314,4.188-9.489,8.913-11.176,5.084-1.815,12.731-.217,18.312,6.439,10.852,12.944,19.645,26.582,27.279,38.369,11.151,17.217,18.729,30.207,22.772,37.523Z"></path><path class="d" d="M86.141,141.457c4.417,4.422,8.745,8.933,13.16,13.358a6.209,6.209,0,0,0,8.641,0q13.662-13.407,27.066-27.076a6.11,6.11,0,0,0-8.641-8.641Q112.99,132.789,99.3,146.173h8.641c-4.415-4.424-8.743-8.935-13.16-13.358a6.11,6.11,0,0,0-8.641,8.642Z"></path><path class="b" d="M214.716,294.825c-6.229-8.107-12.388-16.268-18.572-24.408q-13.792-18.154-27.622-36.283-3.243-4.243-6.494-8.483a72.549,72.549,0,0,1-5.475-7.435c-2.917-5.021-4.657-12.109-1.343-17.3a11.059,11.059,0,0,1,9.364-4.974c3.938.136,7.5,2.618,10.272,5.221a91.355,91.355,0,0,1,6.222,6.807q3.224,3.707,6.4,7.451c9.242,10.846,18.315,21.845,27.763,32.512q1.29,1.457,2.6,2.9c2.084,2.289,5.471-1.113,3.394-3.394-9.595-10.532-18.623-21.587-27.842-32.445-4.177-4.919-8.343-9.853-12.658-14.652-5.978-6.65-14.921-12.129-23.748-7.294a15.724,15.724,0,0,0-7.565,9.066,20.647,20.647,0,0,0-.112,10.71,27.422,27.422,0,0,0,3.978,9.2c1.874,2.751,4.052,5.328,6.076,7.97q14.259,18.609,28.423,37.29Q198.5,281.394,209.23,295.5q.671.876,1.341,1.75a2.48,2.48,0,0,0,3.284.861,2.416,2.416,0,0,0,.861-3.283Z"></path><path class="b" d="M278.822,355.1a148.459,148.459,0,0,1-27.773-4.988c-8.761-2.5-17.615-5.9-25.062-11.251a2.6,2.6,0,0,1-.4-.308c-.262-.211-.525-.422-.784-.638-.58-.483-1.15-.979-1.714-1.482-1.35-1.205-2.666-2.45-3.967-3.708-3.312-3.2-6.541-6.486-9.769-9.769-3.855-3.919-7.7-7.847-11.589-11.733q-3.1-3.1-6.243-6.163a22.478,22.478,0,0,1-4.312-5.417c-2.07-3.862-2.1-9.264,1.1-12.555,3-3.083,7.93-3.465,12.165-3.808a2.461,2.461,0,0,0,2.4-2.4,2.418,2.418,0,0,0-2.4-2.4c-4.405.357-9.51.8-13.283,3.347a14.545,14.545,0,0,0-6.222,12.751c.2,5.169,2.931,9.66,6.507,13.242,4.332,4.339,8.724,8.616,13.028,12.984,6.6,6.7,13.026,13.73,20.165,19.879,6.945,5.983,15.765,9.76,24.391,12.61a148.8,148.8,0,0,0,33.764,6.607,2.419,2.419,0,0,0,2.4-2.4,2.45,2.45,0,0,0-2.4-2.4Z"></path><path class="b" d="M221.93,249.135c-.41-5.345,2.431-9.685,7.333-11.958,4.837-2.243,11.11-1.668,13.826,3.411,1.284,2.4,5.147.759,4.387-1.849-1.537-5.273,2.071-10.557,6.98-12.731,4.634-2.052,11.529-2.3,14.562,2.517,1.172,1.86,4.711,1.3,4.473-1.212-.344-3.612,2.193-6.286,5.172-7.945a11.323,11.323,0,0,1,8.242-1.25,17.555,17.555,0,0,1,9.438,5.832c3.235,3.7,6.217,7.654,9.136,11.606,5.521,7.475,10.66,15.219,15.718,23.011,4.988,7.684,9.912,15.407,14.669,23.236,3.581,5.9,7.09,11.839,10.428,17.876,1.5,2.7,5.643.285,4.145-2.423-7.738-13.992-16.284-27.53-24.985-40.938-5.434-8.374-10.961-16.693-16.947-24.686q-2.38-3.18-4.853-6.292a67.32,67.32,0,0,0-5.053-6,21.357,21.357,0,0,0-10.892-5.948,16.761,16.761,0,0,0-12.087,2.19c-4.056,2.484-7.406,6.739-6.931,11.728l4.472-1.211c-4.453-7.073-13.769-7.46-20.794-4.387-6.9,3.016-11.718,10.764-9.522,18.3l4.387-1.849c-3.848-7.195-12.7-8.461-19.674-5.453-6.595,2.844-10.989,9.127-10.43,16.422a2.459,2.459,0,0,0,2.4,2.4,2.419,2.419,0,0,0,2.4-2.4Z"></path>
                        </g>
                    </svg>
                    <span>Booking</span>
                </a>
            </li>

            <!-- Nav Item - News -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="New">
                    <svg width="25px" viewBox="0 0 1024 1024" fill="#ffffff" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M975.928 744.598a8.006 8.006 0 0 1-7.856-6.608l-55.538-314.996a7.998 7.998 0 0 1 6.482-9.262c4.216-0.774 8.48 2.124 9.26 6.48l55.54 314.998a8.002 8.002 0 0 1-7.888 9.388zM984.268 791.84a7.99 7.99 0 0 1-7.856-6.606c-7.214-40.824-163.534-48.354-260.38-43.464-4.826 0.218-8.184-3.186-8.386-7.59a7.974 7.974 0 0 1 7.574-8.372c27.098-1.376 264.926-11.34 276.938 56.646a7.992 7.992 0 0 1-6.482 9.26c-0.47 0.094-0.94 0.126-1.408 0.126z" fill=""></path><path d="M676.722 521.292a8 8 0 0 1-7.858-6.606 8 8 0 0 1 6.482-9.264c67.906-11.994 241.374-58.66 228.848-129.69a7.998 7.998 0 0 1 6.48-9.262c4.25-0.774 8.496 2.124 9.262 6.48 7.686 43.528-31.5 81.814-116.46 113.792-60.91 22.918-124.708 34.312-125.35 34.422a7.408 7.408 0 0 1-1.404 0.128z" fill=""></path><path d="M912.05 382.34a7.992 7.992 0 0 1-7.856-6.614 7.998 7.998 0 0 1 6.48-9.262l31.518-5.544c4.28-0.688 8.512 2.14 9.262 6.498a7.996 7.996 0 0 1-6.482 9.262l-31.516 5.542a8.534 8.534 0 0 1-1.406 0.118z" fill=""></path><path d="M1015.754 786.296a8.006 8.006 0 0 1-7.856-6.608l-72.186-409.5a7.996 7.996 0 0 1 6.48-9.262c4.28-0.774 8.496 2.124 9.262 6.482l72.186 409.5a8 8 0 0 1-7.886 9.388z" fill=""></path><path d="M984.268 791.84a7.992 7.992 0 0 1-1.374-15.868l31.484-5.542c4.232-0.812 8.48 2.108 9.262 6.48a8 8 0 0 1-6.48 9.262l-31.486 5.542a7.112 7.112 0 0 1-1.406 0.126zM558.12 769.554a8.006 8.006 0 0 1-7.856-6.608l-38.888-220.492a7.912 7.912 0 0 1 1.328-5.966 7.86 7.86 0 0 1 5.154-3.294l157.49-27.77c4.232-0.794 8.48 2.124 9.262 6.482a7.998 7.998 0 0 1-6.482 9.262l-149.62 26.378 36.11 204.75 149.62-26.378c4.28-0.796 8.496 2.124 9.26 6.48a8 8 0 0 1-6.48 9.262l-157.49 27.77c-0.472 0.078-0.94 0.124-1.408 0.124z" fill=""></path><path d="M558.134 769.554a7.24 7.24 0 0 1-1.638-0.172l-84.306-17.618a7.96 7.96 0 0 1-6.23-6.436l-27.77-157.49a7.974 7.974 0 0 1 3.656-8.184l73.184-45.384a8.13 8.13 0 0 1 7.482-0.5 7.966 7.966 0 0 1 4.606 5.904l38.888 220.492a7.944 7.944 0 0 1-2.31 7.122 7.934 7.934 0 0 1-5.562 2.266z m-77.37-32.346l67.44 14.104-34.782-197.238-58.552 36.328 25.894 146.806zM710.05 710.27a8.004 8.004 0 0 1-7.856-6.608l-27.77-157.49a8 8 0 0 1 6.48-9.262c4.282-0.796 8.496 2.11 9.262 6.482l27.77 157.49a8 8 0 0 1-7.886 9.388z" fill=""></path><path d="M483.092 620.374a7.98 7.98 0 0 1-7.856-6.608 8.016 8.016 0 0 1 6.48-9.278l15.744-2.748c4.28-0.75 8.496 2.124 9.26 6.498a7.974 7.974 0 0 1-6.48 9.244l-15.744 2.782a10.708 10.708 0 0 1-1.404 0.11zM499.74 714.876a7.98 7.98 0 0 1-7.856-6.622 7.974 7.974 0 0 1 6.496-9.246l15.776-2.78c4.278-0.718 8.48 2.154 9.244 6.496a8.014 8.014 0 0 1-6.496 9.278l-15.774 2.748a6.954 6.954 0 0 1-1.39 0.126zM491.432 667.632a8.006 8.006 0 0 1-7.856-6.608 8 8 0 0 1 6.48-9.262l15.744-2.78c4.216-0.812 8.482 2.11 9.26 6.48a8 8 0 0 1-6.48 9.262l-15.744 2.782c-0.466 0.08-0.936 0.126-1.404 0.126zM533.6 538.41a7.994 7.994 0 0 1-1.376-15.868l31.486-5.56c4.216-0.774 8.48 2.124 9.262 6.48a7.998 7.998 0 0 1-6.482 9.262l-31.484 5.56c-0.468 0.08-0.938 0.126-1.406 0.126zM773.038 975.242a7.982 7.982 0 0 1-7.138-4.406l-75.028-149.148c-1.984-3.954-0.406-8.762 3.544-10.73 3.904-2 8.73-0.422 10.73 3.544l75.028 149.15c1.984 3.952 0.406 8.762-3.544 10.73a7.8 7.8 0 0 1-3.592 0.86zM694.292 989.14a7.98 7.98 0 0 1-7.136-4.404l-75.03-149.182c-1.982-3.952-0.404-8.762 3.546-10.728 3.92-2 8.73-0.438 10.728 3.544l75.03 149.182c1.982 3.952 0.406 8.762-3.546 10.728a7.764 7.764 0 0 1-3.592 0.86z" fill=""></path><path d="M678.502 991.906a7.992 7.992 0 0 1-7.856-6.608 7.992 7.992 0 0 1 6.48-9.262l110.264-19.444c4.246-0.796 8.48 2.108 9.26 6.48a8 8 0 0 1-6.48 9.262l-110.262 19.446a6.964 6.964 0 0 1-1.406 0.126zM582.204 814.034a8 8 0 0 1-7.856-6.606l-3.124-17.726a7.992 7.992 0 0 1 6.482-9.262c4.232-0.812 8.48 2.124 9.26 6.482l3.124 17.726a8 8 0 0 1-7.886 9.386z" fill=""></path><path d="M582.204 814.034a8.004 8.004 0 0 1-7.872-6.636 8.01 8.01 0 0 1 6.528-9.246l141.81-24.52a8.08 8.08 0 0 1 9.244 6.528 8.01 8.01 0 0 1-6.528 9.246l-141.81 24.52c-0.452 0.06-0.92 0.108-1.372 0.108z" fill=""></path><path d="M724.012 789.514a8.004 8.004 0 0 1-7.856-6.608l-2.78-15.742a8 8 0 0 1 6.48-9.262c4.264-0.796 8.496 2.124 9.262 6.482l2.78 15.742a8 8 0 0 1-7.886 9.388zM1015.77 527.868a7.99 7.99 0 0 1-7.996-7.996V40.092c0-4.42 3.576-7.998 7.996-7.998s7.996 3.578 7.996 7.998v479.78a7.99 7.99 0 0 1-7.996 7.996zM104.186 751.766a7.992 7.992 0 0 1-7.996-7.996V40.092a7.994 7.994 0 0 1 7.996-7.998 7.994 7.994 0 0 1 7.998 7.998v703.678a7.992 7.992 0 0 1-7.998 7.996z" fill=""></path><path d="M56.208 799.742a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996c22.052 0 39.982-17.93 39.982-39.98a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996c0 30.858-25.114 55.972-55.976 55.972z" fill=""></path><path d="M56.208 799.742c-30.862 0-55.974-25.114-55.974-55.972 0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996c0 22.05 17.93 39.98 39.982 39.98a7.992 7.992 0 0 1 7.996 7.996 7.988 7.988 0 0 1-7.996 7.996z" fill=""></path><path d="M8.23 751.766a7.99 7.99 0 0 1-7.996-7.996V88.068c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996v655.702a7.99 7.99 0 0 1-7.996 7.996zM72.202 751.766a7.99 7.99 0 0 1-7.996-7.996V56.084c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996v687.686a7.99 7.99 0 0 1-7.996 7.996zM40.216 751.766a7.992 7.992 0 0 1-7.996-7.996V72.076a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996v671.694a7.994 7.994 0 0 1-7.998 7.996z" fill=""></path><path d="M56.208 767.758c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996a8.012 8.012 0 0 0 7.996-7.996c0-4.42 3.576-7.996 7.996-7.996s7.996 3.576 7.996 7.996c0.002 13.226-10.758 23.988-23.988 23.988z" fill=""></path><path d="M56.208 767.758c-13.228 0-23.99-10.762-23.99-23.988a7.992 7.992 0 0 1 7.996-7.996 7.992 7.992 0 0 1 7.998 7.996 8.012 8.012 0 0 0 7.996 7.996c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996zM505.502 799.742H56.208a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996h449.294a7.994 7.994 0 0 1 7.998 7.996 7.992 7.992 0 0 1-7.998 7.996zM1015.77 48.088H104.186a7.994 7.994 0 0 1-7.996-7.996 7.994 7.994 0 0 1 7.996-7.998h911.584a7.992 7.992 0 0 1 7.996 7.998 7.992 7.992 0 0 1-7.996 7.996zM951.798 208.014H200.142a7.99 7.99 0 0 1-7.996-7.996V104.062a7.992 7.992 0 0 1 7.996-7.998h751.656a7.992 7.992 0 0 1 7.996 7.998v95.956a7.99 7.99 0 0 1-7.996 7.996z m-743.66-15.992h735.664V112.058H208.138v79.964z" fill=""></path><path d="M903.82 160.036H248.12c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h655.7c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996zM919.812 799.742h-143.934a7.99 7.99 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.996h143.934a7.99 7.99 0 0 1 7.996 7.996 7.988 7.988 0 0 1-7.996 7.996zM424.042 415.918h-223.9a7.99 7.99 0 0 1-7.996-7.996v-143.934a7.99 7.99 0 0 1 7.996-7.996H424.04a7.992 7.992 0 0 1 7.996 7.996v143.934a7.99 7.99 0 0 1-7.994 7.996z m-215.904-15.992h207.906v-127.942H208.138v127.942z" fill=""></path><path d="M296.1 399.926a8.008 8.008 0 0 1-6.404-12.792l47.978-63.97a8.014 8.014 0 0 1 11.198-1.6 8.006 8.006 0 0 1 1.61 11.19l-47.978 63.97a8 8 0 0 1-6.404 3.202z" fill=""></path><path d="M392.054 399.926a7.992 7.992 0 0 1-6.402-3.202l-47.978-63.97a8.004 8.004 0 0 1 1.608-11.19 7.996 7.996 0 0 1 11.198 1.6l47.978 63.97a8.008 8.008 0 0 1-6.404 12.792zM248.122 399.926a7.998 7.998 0 0 1-6.654-12.432l31.986-47.978a8.008 8.008 0 0 1 11.088-2.216 7.998 7.998 0 0 1 2.218 11.088l-31.986 47.978a7.992 7.992 0 0 1-6.652 3.56z" fill=""></path><path d="M290.758 367.942a7.994 7.994 0 0 1-6.654-3.56l-10.652-15.994a7.994 7.994 0 0 1 2.218-11.088c3.638-2.454 8.622-1.46 11.088 2.216l10.65 15.994a7.994 7.994 0 0 1-6.65 12.432zM248.122 335.956c-13.228 0-23.99-10.76-23.99-23.988s10.76-23.99 23.99-23.99 23.988 10.762 23.988 23.99-10.76 23.988-23.988 23.988z m0-31.986c-4.404 0-7.996 3.584-7.996 7.996s3.592 7.996 7.996 7.996 7.996-3.584 7.996-7.996-3.592-7.996-7.996-7.996z" fill=""></path><path d="M679.924 271.984H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M679.924 319.962H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M679.924 367.942H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.998 7.998-7.998h207.906c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M679.924 415.918H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M679.924 463.896H472.018c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h207.906c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M504.004 511.876h-31.986c-4.42 0-7.998-3.576-7.998-7.996s3.578-7.996 7.998-7.996h31.986c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M424.79 463.896H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M392.804 655.808h-191.912c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h191.912c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M408.796 703.788H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h207.904c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M424.79 751.766H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M424.79 511.876H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.996 7.996-7.996h223.898c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M408.796 559.854H200.892c-4.42 0-7.996-3.576-7.996-7.996s3.576-7.998 7.996-7.998h207.904c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M392.804 607.832h-191.912a7.992 7.992 0 0 1-7.996-7.996 7.992 7.992 0 0 1 7.996-7.998h191.912a7.992 7.992 0 0 1 7.996 7.998 7.992 7.992 0 0 1-7.996 7.996z" fill=""></path><path d="M951.798 271.984H727.902c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h223.896c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M951.798 319.962H727.902c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h223.896c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M871.836 367.942h-143.934c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.998 7.998-7.998h143.934c4.42 0 7.996 3.578 7.996 7.998s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M823.858 415.918h-95.956c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h95.956c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path><path d="M743.894 463.896h-15.992c-4.422 0-7.998-3.576-7.998-7.996s3.576-7.996 7.998-7.996h15.992c4.42 0 7.996 3.576 7.996 7.996s-3.576 7.996-7.996 7.996z" fill=""></path></g></svg>
                    <span>Xəbərlər</span>
                </a>
            </li>

            <!-- Nav Item - Position -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Position">
                    <svg width="25px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--gis" preserveAspectRatio="xMidYMid meet" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M68.913 48.908l-.048.126c.015-.038.027-.077.042-.115l.006-.011z" fill="#fff"></path><path d="M63.848 73.354l-1.383 1.71c1.87.226 3.68.491 5.375.812l-5.479 1.623l7.313 1.945l5.451-1.719c3.348 1.123 7.984 2.496 9.52 4.057h-10.93l1.086 3.176h11.342c-.034 1.79-3.234 3.244-6.29 4.422l-7.751-1.676l-7.303 2.617l7.8 1.78c-4.554 1.24-12.2 1.994-18.53 2.341l-.266-3.64h-7.606l-.267 3.64c-6.33-.347-13.975-1.1-18.53-2.34l7.801-1.781l-7.303-2.617l-7.752 1.676c-3.012-.915-6.255-2.632-6.289-4.422H25.2l1.086-3.176h-10.93c1.536-1.561 6.172-2.934 9.52-4.057l5.451 1.719l7.313-1.945l-5.479-1.623a82.552 82.552 0 0 1 5.336-.807l-1.363-1.713c-14.785 1.537-27.073 4.81-30.295 9.979C.7 91.573 19.658 99.86 49.37 99.989c.442.022.878.006 1.29 0c29.695-.136 48.636-8.42 43.501-16.654c-3.224-5.171-15.52-8.445-30.314-9.981z" fill="#fff"></path><path d="M49.855 0A10.5 10.5 0 0 0 39.5 10.5A10.5 10.5 0 0 0 50 21a10.5 10.5 0 0 0 10.5-10.5A10.5 10.5 0 0 0 50 0a10.5 10.5 0 0 0-.145 0zm-.057 23.592c-7.834.002-15.596 3.368-14.78 10.096l2 14.625c.351 2.573 2.09 6.687 4.687 6.687h.185l2.127 24.531c.092 1.105.892 2 2 2h8c1.108 0 1.908-.895 2-2l2.127-24.53h.186c2.597 0 4.335-4.115 4.687-6.688l2-14.625c.524-6.734-7.384-10.097-15.219-10.096z" fill="#fff"></path><path d="M-159.25 61.817l-.048.126c.016-.038.027-.076.043-.115c0-.004.004-.007.006-.01z" fill="#fff"></path></g></svg>
                    <span>Vəzifələr</span>
                </a>
            </li>

            <!-- Nav Item - TeamBoard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="TeamBoard">
                    <svg height="25px" width="25px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css">                                                                                                                                                                                                                                                                                                                                                                                       }
                    </style> <g> <path class="st0" d="M485.08,404.527h2.564l10.002-117.716L512,256.324l-4.436-65.503c1.08-13.604-10.862-21.261-18.3-24.398 l-13.544,33.481l-3.66-28.927l2.26-1.788l-0.607-7.868l5.583-1.966c-0.574-0.809-0.928-1.586-0.928-2.252c0-1.838,0-4.141,0-7.278 c2.226-2.622,3.913-7.944,4.908-13.966c1.4-0.54,2.311-1.349,3.509-7.682c0.826-4.47-0.49-7.228-0.793-7.228 c0.556-4.057,1.315-12.077-0.674-16.1c0,0,1.366-2.614,1.366-6.097c-5.735,0.868-24.053-11.614-29.518-1.451 c-7.944-0.878-12.667,11.006-9.075,23.648c0,0-4.452-0.219-2.665,6.384c1.653,6.216,3.003,7.632,5.33,8.526 c1.012,6.022,2.682,11.344,4.909,13.966c0,3.138,0,5.44,0,7.278c0,0.396-0.118,0.818-0.32,1.274l7.219,2.555l-0.641,8.256 l2.26,1.788l-3.761,29.838l-17.036-33.903c-2.412,0.911-5.448,2.125-8.568,3.661l-5.735,42.64l-2.48-36.745 c1.4-17.71-15.332-27.173-24.119-30.454c-0.54-0.202-1.113-0.464-1.721-0.793l-14.101,34.881l-3.98-31.457l2.463-1.957 l-0.675-8.543l6.578-2.32c-0.034-0.168-0.068-0.329-0.068-0.489c0-2.235,0-5.035,0-8.872c2.699-3.196,4.757-9.69,5.988-17.035 c1.704-0.658,2.817-1.653,4.267-9.37c1.03-5.456-0.573-8.813-0.978-8.813c0.691-4.95,1.636-14.733-0.81-19.642 c0,0,1.67-3.188,1.67-7.438c-7,1.054-29.35-14.169-36.028-1.771c-9.665-1.071-15.433,13.435-11.048,28.851 c0,0-5.431-0.278-3.256,7.793c2.024,7.573,3.66,9.302,6.51,10.39c1.232,7.346,3.273,13.839,5.988,17.035c0,3.382,0,5.946,0,8.046 l9.057,3.214l-0.691,8.964l2.446,1.957l-4.1,32.444l-17.727-35.294c-0.168,0.076-0.337,0.152-0.489,0.22 c-4.588,1.704-14.186,5.094-22.012,10.441l-7.809,58.073l-3.609-53.384v-0.008c0.135-1.687,0.068-3.315-0.152-4.866 c-2.21-17.179-23.243-26.768-33.076-30.529l-19.633,41.72l-4.858-38.44l2.986-2.378l-0.844-10.946l8.096-2.868 c0-2.597,0-5.844,0-10.272c3.171-3.744,5.583-11.352,7.017-19.97c3.34-1.257,5.246-3.29,7.641-12.17 c2.53-9.454-3.829-9.125-3.829-9.125c5.144-18.073-1.619-35.05-12.954-33.802c-7.826-14.522-34.004,3.314-42.201,2.074 c0,4.976,1.957,8.712,1.957,8.712c-2.851,5.744-1.754,17.222-0.945,23.016c-0.472-0.008-6.224,0.059-3.778,9.125 c2.396,8.88,4.284,10.913,7.641,12.17c1.434,8.618,3.828,16.226,7,19.97c0,4.428,0,7.675,0,10.272l9.563,3.382l-0.809,10.432 l3.002,2.378l-5.178,40.937l-20.814-44.217c-10.745,4.09-34.814,15.138-33.228,35.396l-2.699,39.975l-6.004-44.656 c-7.826-5.346-17.44-8.737-22.012-10.441c-0.168-0.068-0.338-0.144-0.506-0.22l-17.727,35.294l-4.1-32.444l2.446-1.957 l-0.692-8.964l9.057-3.214c0-2.1,0-4.664,0-8.046c2.699-3.196,4.773-9.69,5.988-17.035c2.85-1.088,4.486-2.817,6.527-10.39 c2.159-8.071-3.272-7.793-3.272-7.793c4.385-15.416-1.382-29.922-11.048-28.851c-6.679-12.398-29.028,2.825-36.028,1.771 c0,4.25,1.67,7.438,1.67,7.438c-2.428,4.909-1.501,14.692-0.809,19.642c-0.405,0-2.008,3.357-0.978,8.813 c1.467,7.717,2.563,8.712,4.284,9.37c1.214,7.346,3.255,13.839,5.971,17.035c0,3.838,0,6.638,0,8.872 c0,0.16-0.034,0.32-0.051,0.489l6.562,2.32l-0.674,8.543l2.462,1.957l-3.964,31.457l-14.117-34.881 c-0.608,0.329-1.198,0.591-1.721,0.793c-8.787,3.281-25.503,12.743-24.103,30.454l-2.496,36.821l-5.752-42.716 c-3.103-1.536-6.139-2.75-8.551-3.661L51.58,200.823l-3.762-29.847l2.26-1.788l-0.641-8.256l7.236-2.555 c-0.219-0.456-0.338-0.878-0.338-1.274c0-1.838,0-4.141,0-7.278c2.21-2.622,3.914-7.944,4.909-13.966 c2.345-0.894,3.677-2.31,5.346-8.526c1.771-6.603-2.665-6.384-2.665-6.384c3.593-12.642-1.147-24.525-9.074-23.648 c-5.466-10.163-23.8,2.319-29.535,1.451c0,3.483,1.366,6.097,1.366,6.097c-1.99,4.022-1.23,12.043-0.657,16.1 c-0.32,0-1.636,2.758-0.793,7.228c1.181,6.334,2.092,7.143,3.492,7.682c1.012,6.022,2.682,11.344,4.908,13.966 c0,3.138,0,5.44,0,7.278c0,0.666-0.337,1.442-0.91,2.252l5.566,1.966l-0.624,7.868l2.26,1.788l-3.642,28.911l-13.545-33.464 c-7.438,3.138-19.38,10.795-18.318,24.398L0,256.324l14.354,30.487l10.019,117.716h2.563l-0.05,1.805l-15.299,17.525l5.094,6.367 l30.597-10.213v-15.484h1.501l0.22-87.363l17.407,87.363h4.115l0.168,1.113l-2.968,15.265l6.275,9.124l12.076-0.911l4.739-9.799 l-1.434-14.793h1.434l-7.168-117.716l5.347-11.351l8.518,18.098l12.212,143.598h3.12l-0.051,2.202l-18.654,21.37l6.224,7.776 l37.31-12.474v-18.874h1.821l0.287-106.574l21.236,106.574h5.01l0.22,1.358l-3.626,18.63l7.64,11.123l14.742-1.121l5.785-11.951 l-1.754-18.04h1.754l-8.754-143.598l10.441-22.172l12.667,26.936v154.696h3.829l-0.017,0.81l-23.294,26.7l7.759,9.707 l46.604-15.576v-21.641l14.623-111.314l14.64,111.314h1.502v21.641l46.586,15.576l7.776-9.707l-23.31-26.7l-0.018-0.81h2.345 V298.323l14.016-29.804l11.807,25.039l-8.754,143.598h1.754l-1.754,18.04l5.768,11.951l14.742,1.121l7.658-11.123l-3.644-18.63 l0.22-1.358h5.01l21.252-106.574l0.27,106.574h1.821v18.874l37.327,12.474l6.207-7.776l-18.654-21.37l-0.051-2.202h3.12 l12.212-143.598l8.518-18.098l5.347,11.351l-7.168,117.716h1.434l-1.434,14.793l4.739,9.799l12.076,0.911l6.275-9.124 l-2.968-15.265l0.168-1.113h4.116l17.406-87.363l0.236,87.363h1.502v15.484l30.58,10.213l5.094-6.367l-15.299-17.525 L485.08,404.527z"></path> </g> </g></svg>
                    <span>Komanda</span>
                </a>
            </li>

            <!-- Nav Item - Slider -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Slider">
                    <svg width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 8C18 5.17157 18 3.75736 17.1213 2.87868C16.2426 2 14.8284 2 12 2C9.17157 2 7.75736 2 6.87868 2.87868C6 3.75736 6 5.17157 6 8V16C6 18.8284 6 20.2426 6.87868 21.1213C7.75736 22 9.17157 22 12 22C14.8284 22 16.2426 22 17.1213 21.1213C18 20.2426 18 18.8284 18 16V12" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path> <path d="M18 19.5C19.4001 19.5 20.1002 19.5 20.635 19.2275C21.1054 18.9878 21.4878 18.6054 21.7275 18.135C22 17.6002 22 16.9001 22 15.5V8.5C22 7.09987 22 6.3998 21.7275 5.86502C21.4878 5.39462 21.1054 5.01217 20.635 4.77248C20.1002 4.5 19.4001 4.5 18 4.5" stroke="#fff" stroke-width="1.5"></path> <path d="M6 19.5C4.59987 19.5 3.8998 19.5 3.36502 19.2275C2.89462 18.9878 2.51217 18.6054 2.27248 18.135C2 17.6002 2 16.9001 2 15.5V8.5C2 7.09987 2 6.3998 2.27248 5.86502C2.51217 5.39462 2.89462 5.01217 3.36502 4.77248C3.8998 4.5 4.59987 4.5 6 4.5" stroke="#fff" stroke-width="1.5"></path> </g></svg>
                    <span>Slayd Məlumatları</span>
                </a>
            </li>

            <!-- Nav Item - User -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="User">
                    <svg width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="9" cy="6" r="4" stroke="#fff" stroke-width="1.5"></circle> <path d="M15 9C16.6569 9 18 7.65685 18 6C18 4.34315 16.6569 3 15 3" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path> <ellipse cx="9" cy="17" rx="7" ry="4" stroke="#fff" stroke-width="1.5"></ellipse> <path d="M18 14C19.7542 14.3847 21 15.3589 21 16.5C21 17.5293 19.9863 18.4229 18.5 18.8704" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
                    <span>İstifadəçilər</span>
                </a>
            </li>

            <!-- Nav Item - QuestionAnswer -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="QA">
                    <svg fill="#ffffff" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502 502" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M428.483,73.516C381.076,26.108,318.045,0,251,0C183.956,0,120.924,26.108,73.516,73.516S0,183.956,0,251 s26.108,130.076,73.516,177.484C120.924,475.892,183.956,502,251,502c67.045,0,130.076-26.108,177.483-73.516 C475.892,381.076,502,318.044,502,251S475.892,120.924,428.483,73.516z M251,482C123.626,482,20,378.374,20,251 S123.626,20,251,20s231,103.626,231,231S378.374,482,251,482z"></path> <path d="M251,41.36c-71.131,0-129,57.869-129,129c0,19.299,15.701,35,35,35s35-15.701,35-35c0-32.533,26.467-59,59-59 c32.532,0,59,26.467,59,59c0,32.809-26.468,59.5-59,59.5c-19.299,0-35,15.701-35,35v68.781c0,19.299,15.701,35,35,35 s35-15.702,35-34.999v-38.638c25.275-7.181,48.08-22.162,64.871-42.763C369.655,229.195,380,200.116,380,170.36 C380,99.229,322.131,41.36,251,41.36z M273.893,277.422c-4.605,0.992-7.893,5.064-7.893,9.775v46.443c0,8.271-6.729,15-15,15 s-15-6.729-15-15v-68.781c0-8.271,6.729-15,15-15c43.561,0,79-35.664,79-79.5c0-43.561-35.439-79-79-79c-43.561,0-79,35.44-79,79 c0,8.271-6.729,15-15,15s-15-6.729-15-15c0-60.103,48.897-109,109-109c60.103,0,109,48.897,109,109 C360,221.641,323.787,266.667,273.893,277.422z"></path> <path d="M251,386.641c-19.299,0-35,15.701-35,35v4c0,19.299,15.701,35,35,35s35-15.702,35-35v-4 C286,402.342,270.299,386.641,251,386.641z M266,425.641c0,8.271-6.729,15-15,15s-15-6.729-15-15v-4c0-8.271,6.729-15,15-15 s15,6.729,15,15V425.641z"></path> <path d="M59.077,290.972C56.372,277.911,55,264.462,55,251c0-5.523-4.477-10-10-10s-10,4.477-10,10 c0,14.822,1.512,29.636,4.492,44.028c0.979,4.724,5.14,7.974,9.782,7.974c0.672,0,1.355-0.068,2.039-0.21 C56.721,301.672,60.197,296.38,59.077,290.972z"></path> <path d="M172.982,430.859c-43.999-19.113-79.407-53.593-99.701-97.088c-2.335-5.005-8.287-7.169-13.29-4.834 c-5.005,2.335-7.169,8.285-4.834,13.29c22.36,47.925,61.375,85.916,109.856,106.976c1.297,0.564,2.649,0.831,3.979,0.831 c3.862,0,7.54-2.25,9.178-6.019C180.37,438.949,178.047,433.059,172.982,430.859z"></path> </g> </g> </g> </g></svg>
                    <span>Sual-Cavab</span>
                </a>
            </li>

            <!-- Nav Item - Testimonial -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Testimonial">
                    <svg width="25px" fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 478.248 478.248" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <path d="M456.02,44.821H264.83c-12.26,0-22.232,9.972-22.232,22.229v98.652c0,12.258,9.974,22.23,22.232,22.23h16.787v39.161 c0,2.707,1.58,5.165,4.043,6.292c0.92,0.42,1.901,0.627,2.875,0.627c1.631,0,3.244-0.576,4.523-1.685l51.383-44.396h111.576 c12.26,0,22.23-9.973,22.23-22.23V67.05C478.25,54.792,468.277,44.821,456.02,44.821z M319.922,112.252l-10.209,9.953 l2.41,14.054c0.174,1.015-0.242,2.038-1.076,2.643c-0.469,0.342-1.027,0.516-1.588,0.516c-0.428,0-0.861-0.103-1.256-0.31 l-12.621-6.635l-12.619,6.635c-0.912,0.478-2.016,0.398-2.848-0.206s-1.248-1.628-1.074-2.643l2.41-14.054l-10.211-9.953 c-0.734-0.718-1.002-1.792-0.685-2.769c0.317-0.978,1.164-1.691,2.183-1.839l14.11-2.05l6.31-12.786 c0.457-0.923,1.396-1.507,2.424-1.507s1.969,0.584,2.422,1.507l6.312,12.786l14.107,2.05c1.02,0.148,1.863,0.861,2.184,1.839 C320.924,110.46,320.658,111.535,319.922,112.252z M384.766,112.252l-10.211,9.953l2.412,14.054 c0.172,1.015-0.244,2.038-1.076,2.643c-0.469,0.342-1.025,0.516-1.588,0.516c-0.43,0-0.859-0.103-1.26-0.31l-12.619-6.635 l-12.619,6.635c-0.912,0.478-2.014,0.398-2.846-0.206c-0.834-0.604-1.25-1.628-1.076-2.643l2.41-14.054l-10.209-9.953 c-0.734-0.718-1.002-1.792-0.684-2.769c0.316-0.978,1.16-1.691,2.182-1.839l14.109-2.05l6.311-12.786 c0.455-0.923,1.396-1.507,2.422-1.507c1.029,0,1.967,0.584,2.422,1.507l6.312,12.786l14.109,2.05 c1.021,0.148,1.863,0.861,2.182,1.839C385.768,110.46,385.5,111.535,384.766,112.252z M449.607,112.252l-10.211,9.953 l2.408,14.054c0.176,1.015-0.238,2.038-1.072,2.643c-0.471,0.342-1.027,0.516-1.59,0.516c-0.43,0-0.859-0.103-1.258-0.31 l-12.621-6.635l-12.621,6.635c-0.908,0.478-2.012,0.398-2.844-0.206c-0.834-0.604-1.248-1.628-1.076-2.643l2.412-14.054 l-10.211-9.953c-0.734-0.718-1-1.792-0.684-2.769c0.316-0.978,1.164-1.691,2.182-1.839l14.111-2.05l6.311-12.786 c0.453-0.923,1.395-1.507,2.42-1.507c1.027,0,1.971,0.584,2.426,1.507L434,105.594l14.109,2.05 c1.018,0.148,1.861,0.861,2.182,1.839C450.609,110.46,450.344,111.535,449.607,112.252z"></path> <path d="M152.844,112.924c-46.76,0-72.639,24.231-72.166,70.921c0.686,63.947,27.859,102.74,72.166,102.063 c0,0,72.131,2.924,72.131-102.063C224.975,137.155,200.605,112.924,152.844,112.924z"></path> <path d="M280.428,334.444l-72.074-28.736l-16.877-14.223c-4.457-3.766-11.041-3.488-15.178,0.621l-23.463,23.336l-23.533-23.342 c-4.137-4.104-10.713-4.369-15.164-0.615l-16.881,14.223l-72.074,28.739C1.975,343.69,1.995,425.884,0,433.427h305.646 C303.656,425.9,303.646,343.679,280.428,334.444z"></path> </g> </g> </g> </g></svg>
                    <span>Müştəri Cavabları</span>
                </a>
            </li>

            <!-- Nav Item - Contacts -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Contact">
                    <svg width="25px" fill="#ffffff" version="1.1" id="XMLID_276_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="contact-us"> <g> <path d="M4,24v-5H0V0h23v19h-9.3L4,24z M2,17h4v3.7l7.3-3.7H21V2H2V17z"></path> </g> <g> <rect x="5" y="8" width="3" height="3"></rect> </g> <g> <rect x="10" y="8" width="3" height="3"></rect> </g> <g> <rect x="15" y="8" width="3" height="3"></rect> </g> </g> </g></svg>
                    <span>Mesajlar</span>
                </a>
            </li>

            <!-- Nav Item - Features -->

            <li class="nav-item active">
                <a class="nav-link" asp-action="Index" asp-controller="Feature">
                    <svg width="25px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#000000" stroke="#000000" stroke-width="1.152">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>
                                    .a {
                                        fill: none;
                                        stroke: #ffffff;
                                        stroke-linecap: round;
                                        stroke-linejoin: round;
                                    }</style>
                            </defs><circle class="a" cx="24" cy="24" r="21.5"></circle><path class="a" d="M7.1562,37.3617c6.68-13.4223,19.09-20.5881,21.4016-19.1306,1.6952,1.1638,2.6641,14.5061-2.9941,27.212"></path><path class="a" d="M3.9276,16.2961c.9415-1.7942,1.9659-3.5009,3.0476-3.5325,1.0453-.0307,4.8246,5.95,7.35,14.23"></path><path class="a" d="M20.0551,21.7892c-.0775-3.1524-1.3462-7.1971-2.2507-7.41-1.4-.33-4.8277,2.1706-6.5654,4.6194"></path><path class="a" d="M28.7362,35.6317c3.5856.8641,8.4094,3.8208,8.3376,4.3269a6.1365,6.1365,0,0,1-2.287,2.64"></path><path class="a" d="M34.4259,38.0126c4.0153-4.2419,4.7524-9.2731,4.2931-9.8636s-4.5346-.73-8.93-.1143"></path><path class="a" d="M15.9921,25.2789s1.92-1.6241,2.595-1.388c.6932.2427,3.48,10.3376.4987,21.04"></path>
                        </g>
                    </svg>
                    <span>Özəlliklər</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                     src="~/admin/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Admin Paneli</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>


    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.js"></script>
    <script src="~/admin/vendor/sweetalert2/sweetalert2.min.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>