@model ApplicationUser

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/669cf49532dca6db2cb3074c/1i3ahmqp5';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="~/images/background/14.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>İdarə Paneli</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-settings" class="bg-gray-100">
        <div class="container">
            <div class="row">

                @await Component.InvokeAsync("AccountAside")

                <div class="col-lg-9">
                    <div class="card padding40  rounded-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <form asp-action="EditProfile" id="form-create-item" class="form-border" enctype="multipart/form-data">
                                    <div class="de_tab tab_simple">
                                        <ul class="de_nav">
                                            <li class="active"><span>Hesabım</span></li>
                                            <li><span>Şifrəni dəyiş</span></li>
                                        </ul>
                                        <div class="de_tab_content">
                                            <div class="tab-1">
                                                <div class="row">
                                                    <div class="col-lg-6 mb20">
                                                        <h5>İstifadəçi adı</h5>
                                                        <input asp-for="UserName" type="text" name="username" id="username" class="form-control" placeholder="Enter username" />
                                                    </div>
                                                    <div class="col-lg-6 mb20">
                                                        <h5>E-poçt</h5>
                                                        <input asp-for="Email"  required type="text" name="Email" id="Email" class="form-control" placeholder="Enter email" />
                                                    </div>
                                                    <div class="col-lg-6 mb20">
                                                        <h5>Ad</h5>
                                                        <input asp-for="Name" type="text" name="Name" id="user_password_re-enter" class="form-control" placeholder="Ad daxil edin" />
                                                    </div>
                                                    <div class="col-lg-6 mb20">
                                                        <h5>Soy Ad</h5>
                                                        <input asp-for="Surname" type="text" name="Surname" id="user_password_re-enter" class="form-control" placeholder="********" />
                                                    </div>
                                                   
                                                    <div class="form-group" style="min-height:300px;">
                                                        <div style="width: 200px; height:200px; border-radius:100%" class="card">
                                                            <div class="card-body">
                                                                <img width="200px" height="200px" style="border-radius:100%;" class="img-fluid" src="@Model.ImageUrl" />
                                                            </div>
                                                            <div class="card p-3 mt-3">
                                                                <input type="file" asp-for="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-2">
                                                <div class="row">
                                                   
                                                    <div class="col-lg-6 mb20">
                                                        <h5>Köhnə şifrə</h5>
                                                        <input asp-for="PasswordHash" type="Password" name="currentPassword" id="user_password" class="form-control" placeholder="********" />
                                                    </div>
                                                    <div class="col-lg-6 mb20">
                                                        <h5>Yeni şifrə</h5>
                                                        <input asp-for="PasswordHash" type="Password" name="newPassword" id="user_password" class="form-control" placeholder="********" />
                                                    </div>


                                                    <div class="spacer-20"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h1>@ViewBag.Message</h1>

                                    <input type="submit" id="submit" class="btn-main" value="Dəyişiklikləri yadda saxla">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
